<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo</title>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>
<body>
    <div class="container">
        <h2>Subir Archivo</h2>
        <form method="post" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Cargar</button>
        </form>
    </div>
</body>
</html>
